<h2 class="mr-2">Posts Made By Our Members:</h2>
<div class="container">
    <div class="row">
        {{#each posts as |post|}}
        {{> post-info post }}
        {{/each}}
    </div>
</div>
<h4>If you want to leave a comment on a post. Click on the title of a post to leave a comment on the post.</h4>