<div class="container">
    <div class="row">
        <div class="col-12">
            <form class="login-form">
                <div>
                    <label for="username-login">
                        <h3>Username:</h3>
                    </label>
                    <input type="text" id="username-login" />
                </div>
                <div>
                    <label for="password-login">
                        <h3>Password:</h3>
                    </label>
                    <input type="password" id="password-login" />
                </div>
                <div>
                    <button type="submit">LOGIN</button>
                </div>
            </form>
            <a href="/signup">
                <h3>Don't have an account? Click here to signup.</h3>
            </a>
        </div>
    </div>
</div>

<script src="/javascript/login.js"></script>