<div class="container">
    <div class="row">
        <div class="col-12">
            <form class="signup-form">
                <div>
                    <label for="username-signup">
                        <h3>Username:</h3>
                    </label>
                    <input type="text" id="username-signup" />
                </div>
                <div>
                    <label for="password-signup">
                        <h3>Password:</h3>
                    </label>
                    <input type="Password" id="password-signup" />
                </div>
                <div>
                    <button type="submit">SIGN UP</button>
                </div>
            </form>
            <a href="/login">
                <h3>Have an account? Click here to login.</h3>
            </a>
        </div>
    </div>
</div>

<script src="/javascript/signup.js"></script>