<article class="post">
    {{> post-info post }}
</article>
{{#if loggedIn}}
<form class="comment-form">
    <div>
        <label for="comment-text">
            <h3>If you want to comment on the post, write a comment in the box below then press the button.</h3>
        </label>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">ADD COMMENT</button>
    </div>
</form>
{{/if}}
{{#if post.comments}}
<h3>Comments Section:</h3>
{{> comments post.comments}}
{{/if}}
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}